HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
/web-client/soap-client/target/**

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/resources/db/migration/
/storage/
/target/
!/web-client/out/
*.class
web-client/out/production/soap-client/META-INF/
web-client/soap-client/src/main/resources/
web-client/soap-client/src/test/
web-client/soap-client/target/generated-sources/annotations/
web-client/src/
*.lst
*.lst
